<header>
    <nav class="main-nav">
      <div class="menu-toggle" id="mobile-menu">
        <img
          src="https://images.icon-icons.com/2596/PNG/512/hamburger_button_menu_icon_155296.png"
          alt="Menu"
          class="hamburger-icon"
          (click)="navList.classList.toggle('active')"
        />
      </div>
  
      <ul class="nav-list" #navList>
        <img src="ford.png" id="logo-menu" />
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
      </ul>
  
      <div class="logout-container">
        <button class="logout-btn" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
    </nav>
  </header>
  