body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Lado esquerdo com o carro */
.login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    background-color: #fcfcfcf8;
}

/* Lado direito com o formulário */
.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0 0 50px;
    background-color: rgb(230, 230, 230);
    position: relative;
}

/* Logo */
#logo-ford-login{
    position: absolute;
    top: 40px;
    align-items: center;
    justify-content: center;
}

/* Título */
#login-title h3 {
    color: rgb(23, 0, 233);
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 80px;
}

/* Formulário */
form {
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 45px;
    font-size: 16px;
}

.auto-login {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: rgb(23, 0, 233);
    color: white;
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 200px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(13, 0, 201);
}

/* Mensagem de feedback */
.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 80%;
    max-width: 700px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message.hidden {
    display: none;
}