/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-primary: #004aad;
    --color-secondary: #0e01bb;
    --color-background: #ffffff;
    --color-text: #1a1a1a;
    --color-border: #aaa;
    --color-table-border: #ddd;
    --color-card-shadow: rgba(0, 0, 0, 0.1);
  
    --radius-small: 6px;
    --radius-medium: 10px;
    --radius-large: 12px;
  
    --font-base: "Segoe UI", sans-serif;
  
    --transition-default: 0.3s ease;
  }